<?xml version="1.0" encoding="UTF-8"?> 
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>OnlineElectionVotingSystem</display-name> 
	<servlet>
		<description>
		</description>
		<display-name>UpdateServlet</display-name>
		<servlet-name>UpdateServlet</servlet-name>
		<servlet-class>controller.UpdateServlet</servlet-class>
	</servlet>
	<servlet> 
		<description>
		</description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>controller.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CandidateServlet</display-name>
		<servlet-name>CandidateServlet</servlet-name>
		<servlet-class>controller.CandidateServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Vote</display-name>
		<servlet-name>Vote</servlet-name>
		<servlet-class>controller.Vote</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AdminLogin</display-name>
		<servlet-name>AdminLogin</servlet-name>
		<servlet-class>controller.AdminLogin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddCandidateServlet</display-name>
		<servlet-name>AddCandidateServlet</servlet-name>
		<servlet-class>controller.AddCandidateServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateCandidateServlet</display-name>
		<servlet-name>UpdateCandidateServlet</servlet-name>
		<servlet-class>controller.UpdateCandidateServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddEvent</display-name>
		<servlet-name>AddEvent</servlet-name>
		<servlet-class>controller.AddEvent</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddCampaign</display-name>
		<servlet-name>AddCampaign</servlet-name>
		<servlet-class>controller.AddCampaign</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CaptchaServlet</display-name>
		<servlet-name>CaptchaServlet</servlet-name>
		<servlet-class>controller.CaptchaServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddNominee</display-name>
		<servlet-name>AddNominee</servlet-name>
		<servlet-class>controller.AddNominee</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateCampaign</display-name>
		<servlet-name>UpdateCampaign</servlet-name>
		<servlet-class>controller.UpdateCampaign</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateEvent</display-name>
		<servlet-name>UpdateEvent</servlet-name>
		<servlet-class>controller.UpdateEvent</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateNominee</display-name>
		<servlet-name>UpdateNominee</servlet-name>
		<servlet-class>controller.UpdateNominee</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateServlet</servlet-name>
		<url-pattern>
		/UpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CandidateServlet</servlet-name>
		<url-pattern>
		/CandidateServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Vote</servlet-name>
		<url-pattern>
		/Vote</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminLogin</servlet-name>
		<url-pattern>
		/AdminLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddCandidateServlet</servlet-name>
		<url-pattern>
		/AddCandidateServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateCandidateServlet</servlet-name>
		<url-pattern>
		/UpdateCandidateServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddEvent</servlet-name>
		<url-pattern>
		/AddEvent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddCampaign</servlet-name>
		<url-pattern>
		/AddCampaign</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CaptchaServlet</servlet-name>
		<url-pattern>
		/CaptchaServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddNominee</servlet-name>
		<url-pattern>
		/AddNominee</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateCampaign</servlet-name>
		<url-pattern>
		/UpdateCampaign</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateEvent</servlet-name>
		<url-pattern>
		/UpdateEvent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateNominee</servlet-name>
		<url-pattern>
		/UpdateNominee</url-pattern>
	</servlet-mapping>
		
	<welcome-file-list>
		<welcome-file>home.jsp</welcome-file>
	</welcome-file-list>
</web-app>

